@import '../../../styles/utils/_helpers.scss';

.searchResultsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.searchResult {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-top: 21px;
  padding-bottom: 24px;
  padding-left: 24px;
  border-left: 1px solid #F4F4F4;
  border-bottom: 1px solid #F4F4F4;

  @media screen and (max-width: 1120px) {
    flex-direction: column;
  }

  @media screen and (max-width: 600px) {
    padding: 18px 20px;
  }
}

.searchText {
  flex-grow: 2;

  .title {
    font-weight: bold;
    font-size: 20px;

    @media screen and (max-width: 600px) {
      font-size: 18px;
    }
  }

  .address {
    font-size: 18px;
    margin-top: 12px;

    @media screen and (max-width: 600px) {
      font-size: 16px;
    }
  }

  .description {
    font-size: 18px;
    margin: 32px 0;

    @media screen and (max-width: 600px) {
      font-size: 16px;
    }
  }

  .serviceOf {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 24px;

    @media screen and (max-width: 600px) {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }
}

.sideLinks {
  flex-shrink: 0;
  width: 250px;
  margin: 0 100px;
  font-weight: bold;
  font-size: 18px;
  color: $color-brand;
  padding-top: 32px;

  @media screen and (max-width: 1120px) {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    width: inherit;
  }

  @media screen and (max-width: 600px) {
    padding-top: 16px;
    margin-top: 0;
    font-size: 16px;
  }

  .sideLink {
    display: flex;
    align-items: center;
    margin: 24px 0;
  }

  .sideLinkIcon {
    width: 24px;
  }

  .sideLinkText {
    padding: 0 8px;
    white-space: nowrap;
    overflow: scroll;
  }
}
