@import '../../styles/utils/_helpers.scss';

.container {
  width: 100%;
}

.header {
  padding: 15px 35px;
  border-bottom: 1px solid $color-grey3;
  .title {
    text-align: left;
    font-weight: bold;
    font-size: 26px;

    @media screen and (max-width: 600px) {
      font-size: 21px;
      line-height: 20px;
    }
  }
}

.flexContainer {
  display: flex;
  width: 100%;
}

.sidebar {
  flex-shrink: 0;
  width: 300px;
  height: 100%;
  border-right: 1px solid $color-grey3;
  padding: 20px 30px;

  .filterResourcesTitle {
    font-weight: bold;
    font-size: 18px;
  }

  .clearAll {
    font-size: 16px;
    padding: 8px 0;
    color: $color-brand;
    cursor: pointer;
  }

  .filterGroup {
    margin-top: 12px;
  }

  .filterTitle {
    font-size: 16px;
    font-weight: bold;
    padding: 16px 0;
  }

  .checkBox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    color: $color-grey5;
    padding: 8px 0;
    cursor: pointer;
  }

  .checkBox input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
    margin-left: 0;
    cursor: pointer;
  }

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.results {
  width: 100%;
  height: 100%;
}
