@import '../../../styles/utils/_helpers.scss';

.baseModalContent {
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 40px;
    top: 110px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background: $color-white;
    overflow: auto;
    padding: 20px;
}

.baseModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color-grey7, 0.5);
}

.fullScreenModalContent {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-white;
    overflow: auto;
}

.fullscreenModalHeader {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
    color: $color-grey6;
    border-bottom: 1px solid $color-grey3;
    padding-left: 35px;
    .fullscreenModalBackButton {
        cursor: pointer;
    }
    i {
        padding-right: 12px;
    }
}

.fullscreenModalBody, .fullscreenModalBodyWithFooter {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 48px;
}

.fullscreenModalBodyWithFooter {
    padding-bottom: 80px;
}