.foodBannerContainer {
  width: 100%;
  color: black;
  font-size: 18px;
  text-align: center;
  position: sticky;
  text-decoration: underline;
  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  strong {
    font-weight: bold;
  }
  @media screen and (max-width: 600px) {
    font-size: 14px;
    height: 60px;
    line-height: 60px;
  }
  @media screen and (min-width: 600px) {
    font-size: 18px;
    padding: 60px 0 0;
  }
}
