@import 'app/styles/utils/_colors.scss';

.wrapper {
  margin-top: 20px;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: -10px;
  margin-right: -10px;
}

.item {
  flex: 1 1 33.32%;
  min-width: 275px;
  max-width: 33.32%;

  @media screen and (max-width: 920px) {
    flex: 1 1 50%;
    max-width: 50%;
  }

  @media screen and (max-width: 600px) {
    max-width: 100%;
  }
}

.cardLink {
  color: #202020;
  display: block;

  &:active,
  &:focus,
  &:hover {
    color: #202020; // Reset global link style
  }
}

.card {
  background: $color-white;
  border-radius: 3px;
  display: flex;
  flex-flow: column nowrap;
  font-size: 15px;
  height: 100%;
  justify-content: center;
  transition: all 200ms ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  min-height: 220px;

  @media screen and (max-width: 920px) {
    min-height: 190px;
    border: 2px solid #e0e0e0;
    border-radius: 3px;
  }

  @media screen and (max-width: 600px) {
    min-height: 165px;
  }

  .cardLink:focus &,
  .cardLink:hover & {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .cardLink:active & {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  }
}

.cardImage {
  object-fit: cover;
  height: 8vw;
  max-height: 150px;
  min-height: 75px;
  border-radius: 3px 3px 0 0;

  @media screen and (max-width: 600px) {
    height: 75px
  }
}

.cardTextWrapper {
  flex: 2 2 0;
  display: flex;
  flex-direction: column;
  padding: 15px 25px 20px;
  justify-content: space-between;
}

.cardText {
  font-size: 26px;
  font-weight: bold;
  color: #202020;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    font-size: 20px;
  }

  @media screen and (max-width: 600px) {
    font-size: 17px;
  }
}

.cardLinkText {
  font-size: 16px;
  margin-top: 14px;
  border-radius: 3px;
  border: 1px solid #E0E0E0;
  padding: 5px 10px;
  line-height: 20px;
  height: 32px;
  background-color: $color-brand;
  color: $color-white;
  font-weight: 600;
  box-shadow: none;
  width: 154px;

  &:hover {
    color: $color-white;
  }
}

  .cardPartner {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: flex-start;
  }

  .cardPartner small {
    font-size: 12px;
    color: #888;
  }

  .cardPartnerImage {
    height: 50px;
    width: auto;
    max-width: 100%;
    display: block;
    object-fit: contain;
    margin-top: 7px;
  }
