@import '../../styles/utils/helpers';

.action-sidebar {
  margin: $padding-xlarge 0;

  li {
    text-align: center;
    border: 1px solid $color-grey2;
    width: 128px;
    height: 128px;

    a {
      color: $color-textfade;
      padding: $padding-xlarge 0;
      display: flex;
      flex-direction: column;
      width: 128px;
      height: 128px;

      img {
        display: block;
        margin: $padding-default $padding-default $padding-large;
        font-size: $padding-xxlarge;
      }
      span {
        font-size: $padding-large;
      }
    }

    &:hover {
      background: $color-grey2;
      color: $color-title;
    }
  }
}
.feedback__Modal {
  position: absolute;
  margin: 0 auto;
  top: 30%;
  left: 0;
  right: 0;
  width: 577px;
  padding: 20px;
  background-color: #FFFEFE;
  box-shadow: 0px 3.22177px 6.44355px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.feedback__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(94, 94, 94, 0.6);
}
