@import '../../styles/utils/_helpers.scss';

.header {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
    color: $color-grey6;
    border-bottom: 1px solid $color-grey3;
    padding-left: 35px;
    .backButton {
        cursor: pointer;
    }
    i {
        padding-right: 12px;
    }
}

.body {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 80px;
}

.contentContainer {
    padding: 48px;
    width: 700px;
    text-align: left;
    h1 {
        font-size: 26px;
        color: $color-grey9;
    }
    h2 {
        font-size: 20px;
        font-weight: bold;
        color: $color-grey9;
        margin: 20px 0;
    }
}

.listOption {
    height: 75px;
    background-color: $color-grey1;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 12px 0;
    label {
        display: flex;
        cursor: pointer;
        input {
            margin: auto 12px;
            width: auto;
        }
    }
    span {
        color: $color-brand;
        font-weight: 600;
    }
}


.footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid $color-grey3;
    background-color: $color-white;
    padding: 18px 35px;
}

.progressBarMeter {
    width: 666px;
    height: 11px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    // overflow: hidden must be set to force both the progress bar and progress
    // value to get clipped to have rounded corders.
    border-radius: 100px;
    overflow: hidden;

    &::-webkit-progress-bar {
        background-color: #e0e0e0;
    }

    &::-webkit-progress-value {
        background-color: #0025e4;
    }

    // This is actually the progress bar value, not the whole bar, in Firefox
    &::-moz-progress-bar {
        background-color: #0025e4;
    }
}

.progressBarText {
    color: #202020;
    font-size: 18px;
}

.actionGroup {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;

    .button {
        width: 188px;
        border: 1px solid $color-brand;
        border-radius: 3px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    .actionBack {
        background-color: transparent;
        color: $color-brand;
    }
    .actionSubmit {
        background-color: $color-brand;
    }
}
