.foodBannerContainer {
  width: 100%;
  color: black;
  font-size: 18px;
  text-align: center;
  position: sticky;
  text-decoration: underline;
  padding: 2em 0;
  @media screen and (max-width: 600px) {
    font-size: 14px;
    padding: 0;
    height: 60px;
    line-height: 60px;
  }
}

.mapContainer {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.foodMapBannerCredit {
  background-color: #267030;
  color: white;
  height: 32px;

  @media screen and (max-width: 600px) {
    padding: 4px;
    width: 300px;
    margin: auto;
  }

  .SFGovLogo {
    height: 90%;
    margin-left: 14px;
    padding: 4px 0;
  }

  span {
    margin-left: .5em;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
  }
}

.embedMap {
  width: 100%;
  height: 65vh;
  margin: auto;
  @media screen and (max-width: 600px) {
    width: auto;
    height: calc((100vh) - 240px);
  }
}

