@import '../../../styles/utils/_helpers.scss';

.bannerContainer {
  width: 100%;
  padding: calc-em(16px) calc-em(28px);
  color: black;
  background-color: $color-yellow;
  font-size: calc-em(24px);
  text-align: center;
  strong {
    font-weight: bold;
  }
  @media screen and (max-width: 600px) {
    font-size: calc-em(16px);
  }
}

.bannerLink {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}
