@import '../../../styles/utils/_helpers.scss';

.bannerContainer {
  width: 100%;
  padding: calc-em(20px) calc-em(30px);
  color: black;
  background-color: $color-yellow;
  font-size: calc-em(24px);
  strong {
    font-weight: bold;
  }
}

.bannerLink {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}
